In [2]:
import pandas as pd
import json

In [26]:
 with open('data/BEA04.20230506T190546.json', 'r', encoding="utf8") as f:
    data = json.load(f)
data.keys()

dict_keys(['class', 'dimension', 'extension', 'href', 'id', 'label', 'link', 'note', 'role', 'size', 'updated', 'value', 'version'])

In [27]:
df = pd.json_normalize(data['dimension']['TLIST(A1)']['category'])
df.head()

,index,label.2000,label.2001,label.2002,label.2003,label.2004,label.2005,label.2006,label.2007,label.2008,...,label.2013,label.2014,label.2015,label.2016,label.2017,label.2018,label.2019,label.2020,label.2021,label.2022
0,"[2000, 2001, 2002, 2003, 2004, 2005, 2006, 200...",2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022

In [20]:
import requests

# CSO URL dataset
url = 'https://ws.cso.ie/public/api.restful/PxStat.Data.Cube_API.ReadDataset/BEA04/JSON-stat/2.0/en'

# Download the file and save it to the current directory
response = requests.get(url)
with open('BEA04.json', 'w', encoding='utf-8') as f:
    f.write(response.text)
    
# Load the GeoJSON file containing the European country boundaries
file = 'BEA04.json'
with open(file, 'r', encoding='utf-8') as f:
    file_str = f.read()
    
data = json.loads(file_str)

### production index

In [55]:
production = pd.read_csv('data/BEA04.20230506T200502.csv')
production.head()

,Statistic Label,Year,Type of Building and Construction,UNIT,VALUE
0,Value of Production Index in Building and Cons...,2000,All building and construction,Base 2015=100,155.852221
1,Value of Production Index in Building and Cons...,2000,Building (excluding civil engineering),Base 2015=100,199.844255
2,Value of Production Index in Building and Cons...,2000,Residential building,Base 2015=100,311.698160
3,Value of Production Index in Building and Cons...,2000,Non-residential building,Base 2015=100,121.431248
4,Value of Production Index in Building and Cons...,2000,Civil engineering,Base 2015=100,63.619979

In [56]:
production['Statistic Label'].unique()

array(['Value of Production Index in Building and Construction',
       'Volume of Production Index in Building and Construction',
       'Value of Production Index in Building and Construction (Seasonally Adjusted)',
       'Volume of Production Index in Building and Construction (Seasonally Adjusted)'],
      dtype=object)

In [57]:
production['Type of Building and Construction'].unique()

array(['All building and construction',
       'Building (excluding civil engineering)', 'Residential building',
       'Non-residential building', 'Civil engineering'], dtype=object)

In [60]:
print(production['Year'].unique())

[2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013
 2014 2015 2016 2017 2018 2019 2020 2021 2022]

In [41]:
# I can take Value of Production Index in Building and Construction for All building
# predict with array of next 10 years

### enterprises

In [36]:
ent = pd.read_csv('data/BAA12.20230506T200513.csv')
ent.head()

,Statistic Label,Year,Nace Rev 2 Activity,UNIT,VALUE
0,Construction Enterprises,2008,Development of building projects (411),Number,2416.0
1,Construction Enterprises,2008,Construction of residential and non-residentia...,Number,13876.0
2,Construction Enterprises,2008,Construction of roads and railways (421),Number,1027.0
3,Construction Enterprises,2008,Construction of utility projects (422),Number,322.0
4,Construction Enterprises,2008,Construction of other civil engineering projec...,Number,381.0

In [59]:
print(ent['Statistic Label'].unique())
print('---------')
print(ent['Nace Rev 2 Activity'].unique())
print('---------')
print(ent['UNIT'].unique())
print('---------')
print(ent['Year'].unique())

['Construction Enterprises' 'Employees - Manual' 'Employees - Other'
 'Employees - Total'
 'Persons Engaged - Proprietors and Unpaid Family Workers'
 'Persons Engaged - Labour only subcontract basis'
 'Persons Engaged - Total' 'Wages and Salaries - Manual Employees'
 'Wages and Salaries - Other Employees'
 'Wages and Salaries - Manual and Other Employees'
 'Wages and Salaries - Labour only subcontractors'
 'Wages and Salaries - Total' 'Labour Costs - Other'
 'Labour Costs - Total' 'Turnover - Principal' 'Turnover - Subcontractor'
 'Turnover - Manufacturing' 'Turnover - Factored goods' 'Turnover - Other'
 'Turnover - Total' 'Payments to other subcontractors'
 'Turnover less payments to subcontractors' 'Assets made for own use'
 'Purchases - Materials and energy' 'Purchases - Industrial services'
 'Purchases - Factored goods' 'Purchases - Other goods/services'
 'Purchases - Total' 'Stocks at end of year - Work in progress'
 'Stocks at end of year - Unsold finished work'
 'Stocks at end of year - Materials and energy'
 'Stocks at end of year - Factored goods' 'Stocks at end of year - Total'
 'Stock changes - Work in progress' 'Stock changes - Unsold finished work'
 'Stock changes - Materials and energy' 'Stock changes - Factored goods'
 'Stock changes - Total' 'Capital assets - Acquisitions'
 'Capital assets - Sales' 'Production value' 'Intermediate consumption'
 'Gross value added at basic prices' 'Gross value added at factor cost']
---------
['Development of building projects (411)'
 'Construction of residential and non-residential buildings (412)'
 'Construction of roads and railways (421)'
 'Construction of utility projects (422)'
 'Construction of other civil engineering projects (429)'
 'Demolition and site preparation (431)'
 'Electrical, plumbing and other construction installation activities (432)'
 'Building completion and finishing (433)'
 'Other specialised construction activities (439)'
 'Construction (41 to 43)']
---------
['Number' 'Euro Thousand']
---------
[2008 2009 2010 2011 2012 2013 2014 2015 2016 2017 2018 2019]

### Index of employment

In [43]:
# json candidate
empl_index = pd.read_csv('data/BBA02.20230506T210547.csv')
empl_index.head()

,Statistic Label,State,Year,UNIT,VALUE
0,Annual Average Index of Employment (1975 - Dat...,State,1975,Base 2000=100,133.2
1,Annual Average Index of Employment (1975 - Dat...,State,1976,Base 2000=100,128.1
2,Annual Average Index of Employment (1975 - Dat...,State,1977,Base 2000=100,134.8
3,Annual Average Index of Employment (1975 - Dat...,State,1978,Base 2000=100,147.0
4,Annual Average Index of Employment (1975 - Dat...,State,1979,Base 2000=100,158.8

In [61]:
print(empl_index['Statistic Label'].unique())
print('---------')
print(empl_index['State'].unique())
print('---------')
print(empl_index['UNIT'].unique())
print('---------')
print(empl_index['Year'].unique())

['Annual Average Index of Employment (1975 - Date) in Building and Construction Industry']
---------
['State']
---------
['Base 2000=100']
---------
[1975 1976 1977 1978 1979 1980 1981 1982 1983 1984 1985 1986 1987 1988
 1989 1990 1991 1992 1993 1994 1995 1996 1997 1998 1999 2000 2001 2002
 2003 2004 2005 2006 2007 2008]

### Feature selection
We want to predict (between 1975 - 2008, due to data availability) the following:
- production index of all building based on
		â—‹ Persons Engaged - Total
		â—‹ Employees - Total
		â—‹ Construction Enterprises
		â—‹ Wages and Salaries - Total
		â—‹ Labour Costs - Total
		â—‹ Turnover - Total
		â—‹ Purchases - Total
		â—‹ Stocks at end of year - Total
		â—‹ Stock changes - Total
		â—‹ Production value
- wages based on 
        â—‹ construction enterprises values
        â—‹ index of employment

In [49]:
# production['Statistic Label'] = Value of Production Index in Building and Construction
# production['Type of Building and Construction'] = All building and construction

In [52]:
''' 
ent['Statistic Label'] =
		â—‹ Persons Engaged - Total
		â—‹ Employees - Total
		â—‹ Construction Enterprises
		â—‹ Wages and Salaries - Total
		â—‹ Labour Costs - Total
		â—‹ Turnover - Total
		â—‹ Purchases - Total
		â—‹ Stocks at end of year - Total
		â—‹ Stock changes - Total
        Production value
        '''

" \nent['Statistic Label'] =\n\t\tâ—‹ Persons Engaged - Total\n\t\tâ—‹ Employees - Total\n\t\tâ—‹ Construction Enterprises\n\t\tâ—‹ Wages and Salaries - Total\n\t\tâ—‹ Labour Costs - Total\n\t\tâ—‹ Turnover - Total\n\t\tâ—‹ Purchases - Total\n\t\tâ—‹ Stocks at end of year - Total\n\t\tâ—‹ Stock changes - Total\n        Production value\n        "

In [53]:
# empl_index['VALUE'] all

In [54]:
# extract years
production = production.loc['1975':'2008']
production.reset_index(inplace=True)